* {
	-color-white: "#fcfcfe";
	-color-blue: "#7babed";
	-color-blue-gray: "#ced6e3";
	-color-gray: "#e8e8e8";
	-color-yellow: "#f9d987";
	-color-yellow-dark: "#faeac3";
	-color-green: "#63ffa1";
	-color-green-dark: "#00e676";
}

.root {
	-fx-accent: -color-blue;
	-fx-font-family: "Ubuntu", 'sans-serif';
	-fx-font-size: 14px;
}

.body {
	-fx-background-color: -color-white;
}

TextField {
	-fx-cursor: hand;
	-fx-background-color: -color-white;
	-fx-border-width: 0px 0px 2px 0px;
	-fx-border-color: -color-gray;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.0 , 0 , 1.5);
}

TextField:focused {
	-fx-border-color: -color-blue;
}

Slider .track {
	-fx-background-color: -color-gray;
	-fx-background-color: rgba(220, 220, 220, 0.7);
}

.thumb {
	-fx-cursor: hand;
	-fx-border-color: -color-gray;
	-fx-border-radius: 1px;
	-fx-effect: dropshadow(three-pass-box , rgba(0, 0, 0, 0.25) , 5, 0.0 , 0 , 1);
}

.thumb:hover {
	-fx-opacity: 0.9;
	-fx-effect: dropshadow(three-pass-box , rgba(0, 0, 0, 0.4) , 5, 0.0 , 0 , 1);
}

CheckBox .box {
	-fx-cursor: hand;
    -fx-background-color: -color-gray;
    -fx-border-radius: 4px;
    -fx-border-color: -color-gray;
}

CheckBox.white-bg .box {
    -fx-background-color: -color-white;
    -fx-border-radius: 4px;
    -fx-border-color: -color-gray;
}

CheckBox .box:hover {
	-fx-opacity: 0.85;
}

CheckBox:hover {
	-fx-opacity: 0.9;
}

CheckBox:selected .mark {
    -fx-background-color: -color-white;
}

CheckBox.white-bg:selected .mark {
    -fx-background-color: -color-white;
}

CheckBox:selected .box {
    -fx-background-color: -color-blue;
}

CheckBox.white-bg:selected .box {
    -fx-background-color: -color-blue;
}

Button {
	-fx-cursor: hand;
	-fx-background-color: -color-blue;
	-fx-text-fill: -color-white;
	-fx-border-radius: 4px;
	-fx-effect: dropshadow(three-pass-box , rgba(0, 0, 0, 0.25) , 5, 0.0 , 0 , 1);
}

Button:hover {
	-fx-opacity: 0.8;
}

Button.small {
	-fx-background-color: -color-white;
	-fx-font-size: 12px;
	-fx-border-radius: 4px;
	-fx-effect: none;
	-fx-text-fill: black;
}

Button.small:hover {
	-fx-background-color: rgba(220, 220, 220, 0.5);
}

Button.outline {
	-fx-background-color: -color-white;
	-fx-border-color: -color-blue;
	-fx-text-fill: -color-blue;
	-fx-border-radius: 4px;
	-fx-effect: none;
}

Button.outline:hover {
	-fx-background-color: rgba(123, 171, 237, 0.25);
}

ScrollPane {
	-fx-background-color: -color-gray;
	-fx-border-radius: 4px;
}

.achievement {
	-fx-background-color: -color-white;
	-fx-border-color: -color-gray;
	-fx-border-radius: 4px;
}

.achievement-name {
	-fx-border-width: 0 0 2px 0;
}

.achievement-image {
	-fx-border-radius: 50%;
	-fx-border-width: 2px;
}

.task {
	-fx-background-color: -color-white;
}

.task.dark {
	-fx-background-color: linear-gradient(from 0% 0% to 95% 100%, -color-gray, -color-white);
}

.task.completed {
	-fx-background-color: linear-gradient(from 0% 0% to 95% 100%, -color-yellow, -color-white);
}

.task.dark.completed {
	-fx-background-color: linear-gradient(from 0% 0% to 95% 100%, -color-yellow-dark, -color-white);
}

.title {
	-fx-font-size: 20;
}