.root {
	-fx-accent: "#7babed";
}

.body {
	-fx-background-color: "#fcfcfe";
}

Button {
	-fx-background-color: "#7babed";
	-fx-text-fill: white;
}

Button:hover {
	-fx-opacity: 0.9;
}

Button.outline {
	
}

ScrollPane {
	-fx-background-color: "#e8e8e8";
}

.task {
	-fx-background-color: "#fcfcfe";
}

.task.dark {
	-fx-background-color: "#e8e8e8";
}

.task.completed {
	-fx-background-color: "#f9d987";
}

.task.dark.completed {
	-fx-background-color: "#faeac3";
}
